app/assets/opentraining-exercises/clone.sh
app/assets/opentraining-exercises/list_files.php
app/bin/
app/gen/
.metadata

app/svg/old/

app/svg/.SVG

[submodule "ActionBarSherlock"]
	path = ActionBarSherlock
	url = https://github.com/JakeWharton/ActionBarSherlock
        ignore = dirty
