app/assets/opentraining-exercises/clone.sh
app/assets/opentraining-exercises/list_files.php
app/bin/
app/gen/
test/bin/
test/gen/
.metadata

app/svg/old/

app/svg/.SVG

# gradle
/build
/.gradle
/.idea
local.properties
opentraining.iml
