/assets/opentraining-exercises/clone.sh
/assets/opentraining-exercises/list_files.php
/.classpath
/.project
/.settings/org.eclipse.jdt.core.prefs
/lint.xml
/proguard-project.txt
/bin/
/svg/old/
/svg/ideas/
/gen/
