<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.skubware.opentraining"
    android:installLocation="auto"
    android:versionCode="3"
    android:versionName="0.2" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
        android:anyDensity="false"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="false"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_launcher" >
        <activity
            android:name="de.skubware.opentraining.activity.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape"
            android:stateNotNeeded="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.skubware.opentraining.activity.SelectExercisesActivity"
            android:label="@string/create_plan"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name="de.skubware.opentraining.activity.ShowTPActivity"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".activity.show_workout.ShowWorkoutActivity"
            android:label="@string/edit_plan"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="de.skubware.opentraining.activity.CreateExerciseActivity"
            android:label="@string/create_new_exercise"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.DownloadExercisesActivity"
            android:label="@string/settings"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/settings"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.SettingsEquipmentActivity"
            android:label="@string/select_equipment"
            android:screenOrientation="sensorLandscape"
            android:stateNotNeeded="true" >
        </activity>
        <activity
            android:name="de.skubware.opentraining.activity.select_exercises.ExerciseListActivity"
            android:label="@string/select_exercises"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name="de.skubware.opentraining.activity.select_exercises.ExerciseDetailActivity"
            android:label="@string/exercise_detail"
            android:screenOrientation="sensorLandscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ExerciseListActivity" />
        </activity>
        <activity
            android:name=".activity.preferences.PreferencesActivity"
            android:label="@string/settings"
            android:screenOrientation="sensorLandscape" >
        </activity>
    </application>

</manifest>