<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.skubware.training_app"
    android:versionCode="1"
    android:versionName="0.0.1" android:installLocation="auto">

    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="11" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <supports-screens android:resizeable="false"
                  android:smallScreens="false"
                  android:normalScreens="false"
                  android:largeScreens="false"
                  android:xlargeScreens="true"
                  android:anyDensity="false"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:debuggable="true" android:logo="@drawable/ic_launcher">
        <activity
            android:name="de.skubware.opentraining.HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="de.skubware.opentraining.SelectExercisesActivity"></activity>
        <activity android:name="de.skubware.opentraining.EditWorkoutActivity" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name="de.skubware.opentraining.ManageDatabaseActivity"></activity>
        <activity android:name="de.skubware.opentraining.ShowTPActivity"></activity>
    </application>

</manifest>