@import "Fonts.css";


.borderdiv {
 border:10px solid black; 
 border-radius:30px; 
 box-shadow: 25px 30px 80px #333333;
 
 background: #5CFFFC;
 text-align: center;

 display:inline-block;
}

.mycaption {
 font-family: 'Shojumaru';
 font-size:5em;
 font-variant:small-caps;
 

 border: 8px solid black;
 padding: 0em;
 border-radius:10px; 
  
 color:#000000;
 text-shadow: #000000 3px 5px 5px;
}


table {

 border-collapse:seperate;
 border-spacing: 10pt;
 /*width:900px;*/
  
}

td { 
 border:solid;
 border-color:black;
 border-radius:5px;

 background:#97F75C;
 font-family: Lora; 
  
 padding: 1em;
}

b, h3 {
 font-family: 'Lora', bold;
}

p { 
 text-indent: 15px;
 margin:0px;
}
