@import "Fonts.css";

caption {
 caption-side:top;
 
 font-size:4em;
 font-family: 'Shojumaru';
 
 text-shadow: #999999 3px 5px 5px;
}

div {
 border:3px solid black; 
 border-radius:30px; 
 
 background: #EDEDED;
 
 display:inline-block;
}

table {
 border-collapse:seperate;
 border-spacing: 10pt;
 
 font-family: Lora; 

  
 text-align: center;
}

/* The Names of the Exercises */
th { 
 border-left:inset;
 border-right:inset;
 border-top:inset;
 border-bottom:inset;
 border-color:black;
 border-radius:10px;
 
 background: #BBBBBB;
 color: #000000;
 
 padding: 1em;
}


.fset{
 padding: 0em;
}

/* The empty cells */
td { 
 border-left:inset;
 border-right:inset;
 border-top:inset;
 border-bottom:inset;
 border-color:black;
 border-radius:5px;

 background: #FFFFFF;
 
 padding: 1em;
}
