.datagrid table { 
border-collapse: collapse; 
text-align: left;
word-wrap: break-word;
width: 100%;
table-layout: fixed;
}
.datagrid {
font: normal 12px/ 150% Arial, Helvetica, sans-serif; 
background: #fff; 
overflow: hidden; 
border: 4px solid #36752D; 
-webkit-border-radius: 3px; 
-moz-border-radius: 3px; 
border-radius: 3px; 
}
.datagrid table td, .datagrid table th { 
 padding: 3px 10px; 
 height: 60px;
 width: 100px;
}
.datagrid table thead th {
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #36752D), color-stop(1, #275420) );
background:-moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );
filter:
progid:DXImageTransform.Microsoft.gradient(startColorstr='#36752D', endColorstr='#275420');
background-color: #36752D; 
color: #FFFFFF; 
font-size: 16px; 
font-weight: bold; 
border-left: 1px solid #36752D; 
}
.datagrid table thead th:first-child { 
 width: 50px;
 border: none;
}
.datagrid table tbody td { 
color: #275420; 
border-left: 1px solid #C6FFC2;
font-size: 18px;
font-weight: normal; 
}
.datagrid table tbody .alt td { 
background: #DFFFDE; 
color: #275420; 
}
.datagrid table tbody 
td:first-child { 
border-left: none; 
}
.datagrid table tbody 
tr:last-child td { 
border-bottom: none; 
}
.datagrid table tfoot td div { 
border-top: 1px solid #36752D;
background: #DFFFDE;
}
.datagrid table tfoot td { 
padding: 0; 
font-size: 15px 
}
.datagrid table tfoot td div { 
padding: 2px; 
}
.datagrid table tfoot td ul { 
margin: 0; 
padding: 0; 
list-style: none; 
text-align: right; 
}
.datagrid table tfoot li { 
display: inline; 
}
.datagrid table tfoot li a { 
text-decoration: none; 
display: inline-block; 
padding: 2px 8px; 
margin: 1px;
color: #F5F5F5;
border: 1px solid #36752D;
-webkit-border-radius: 3px; 
-moz-border-radius: 3px; 
border-radius: 3px; 
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #36752D), color-stop(1, #275420) );
background:-moz-linear-gradient( center top, #36752D 5%, #275420 100% );
filter:
progid:DXImageTransform.Microsoft.gradient(startColorstr='#36752D', endColorstr='#275420');
background-color: #8C8C8C; 
}
.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { 
text-decoration: none;
border-color: #275420; 
color: #FFFFFF; 
background: none; 
background-color: #36752D;
}
